* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-image: url("assets/background.png"); /* Substitua pelo caminho da sua imagem */
  background-repeat: repeat-x; /* Repete a imagem horizontalmente */
  background-size: cover; /* Ajusta a imagem para cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
}
